{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1> Register </h1>
    <form class="form-horizontal" method="post" action="/register/">
        {% csrf_token %}
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input type='text' id="email"/>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-large btn-primary">Sign up</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
