{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1> Register </h1>
    <form class="form-horizontal" method="post" action="/register/">
        {% csrf_token %}
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input type='text' id="email" name="email"/>
                </div>
            </div>
            {% if test_choice == 1 %}
                <div class="control-group">
                    <label class="control-label" for="first">First Name</label>
                    <div class="controls">
                        <input type='text' id="first" name="first"/>
                    </div>

                    <label class="control-label" for="email">Last Name</label>
                    <div class="controls">
                        <input type='text' id="last" name="last"/>
                    </div>
                </div>
            {% endif %}

            <div class="form-actions">
                {% if test_choice == 2 %}
                    <button type="submit" class="btn btn-large btn-primary">Join!</button>
                {% else %}
                    <button type="submit" class="btn btn-large btn-primary">Sign up</button>
                {% endif %}

            </div>
        </fieldset>
        <input type="hidden" id="choice" name="choice" value="{{ test_choice }}"/>
    </form>
{% endblock %}
