body, p {
    font-size: 15px;
}

h1 {
    margin-bottom: 30px;
}

.form-horizontal {
    margin-top: 20px;
}

.form-horizontal input {
    margin-bottom: 15px;
    display: block;
}

.control-label {
    font-size: 17px;
}

.tagline {
    padding: 10px 10px 11px;
    color: #ffffff;
    text-decoration: underline;
    line-height: 18px;
}
