body, p {
    font-size: 17px;
}

h1 {
    margin-bottom: 30px;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}

.form-horizontal {
    margin-top: 20px;
}

.form-horizontal input {
    margin-bottom: 15px;
    display: block;
}

.control-label {
    font-size: 17px;
}

ul.errorlist li {
  color: #b94a48;
}

.help, p.help {
    font-size: 10px;
    color: #999;
}

.tagline {
    padding: 10px 10px 11px;
    color: #ffffff;
    text-decoration: underline;
    line-height: 18px;
}
