{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>About</h1>
    <p>
        The idea for spygit was actually used for the
        <a href="http://djangodash.com">Django Dash</a> competition I competed
        in several years ago.  This was my first competition, but I've since
        competed each of the last two years.
    </p>
    <p>
        Make sure to checkout the original
        <a href=" http://spygit.durden.webfactional.com/">spygit</a> site.  I
        did not move all the code from the original 
        <a href=" http://spygit.durden.webfactional.com/">spygit</a> here
        because it was a <a href="http://djangoproject.com">Django</a> 1.1
        application.  I did not feel it was necessary to reproduce all the
        content, etc. here.
    </p>
    <h2>Who</h2>
    <p>
        This site was created by <a href="http://lukelee.net">Luke Lee</a>.
    </p>
    <ul>
        <li><a href="http://twitter.com/durden20">@durden20</a></li>
        <li><a href="http://durden.tumblr.com">Tumblr Blog</a></li>
        <li><a href="http://codrspace.com/durden">Codrspace Blog</a></li>
    </ul>

    <h3>Find a bug?</h3>
    <p>
        Spygit is open source, so
        <a href="https://github.com/durden/spygit">fork it</a> and help improve
        it!
    </p>
    <p>
        The original idea for spygit was partially inspired by the
        <a href="http://validator.w3.org/">HTML validator</a>.
    </p>
{% endblock %}
