<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Spygit - Embrace Standards - {% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                    <a class="brand" href="/">Spygit</a>
                    <span class="tagline pull-right">embrace standards</span>
                        <div class="nav-collapse">
                            <ul class="nav">
                                {% block nav %}
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/register">Register</a></li>
                                    <li><a href="/admin">Login</a></li>
                                {% endblock %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% block content %} {% endblock %}
            <div id="footer">
                {% block footer %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
