{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Spygit</h1>

    <h2>Embrace Standards</h2>
    <p>
        Spygit (pronounced '<strong>spig</strong>-uht') is a the premier
        network to show off (or mourn) your project standards.
        It removes the burden of manually checking your code against the
        <a href="http://www.python.org/dev/peps/pep-0008/">pep8</a> standard
        and proving to your team/peers that you are compliant.
    </p>

    <h2>Why</h2>
    <ul>
        <li>Ensure all code looks the same</li>
        <li>Help new developers concentrate on code, not style</li>
    </ul>

    <h3>How</h3>
    <p>
        <a href="/register/" class="btn btn-mini btn-primary">Sign up</a>
        now to join the private beta!
    </p>

{% endblock %}
